#piotnetforms .p21254472 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p21254472 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p21254472 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p21254472 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p21254472 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p21254472 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p21254472.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p21254472.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p21254472.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p99085317 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p99085317 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p99085317 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p99085317 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p99085317 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p99085317 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p99085317.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p99085317.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p99085317.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p58569977 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p58569977 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p58569977 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p58569977 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p58569977 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p58569977 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p58569977.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p58569977.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p58569977.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p58569977 {
    margin: 16px 0px 0px 0px;
}

#piotnetforms .p58569977 {
    width: 50%;
}

#piotnetforms [data-piotnet-editor-widgets-item-id="p58569977"] {
    width: 50%;
}

@media (max-width: 767px) {
    #piotnetforms .p58569977 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #piotnetforms [data-piotnet-editor-widgets-item-id="p58569977"] {
        width: 100%;
    }
}

#piotnetforms .p70955259 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p70955259 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p70955259 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p70955259 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p70955259 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p70955259 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}
#piotnetforms .p58569977 .piotnetforms-calculated-fields-form 
{
    font-weight: 700;
    font-size: 20px;
}
#piotnetforms .p30920576 .piotnetforms-calculated-fields-form {
    
    font-weight: 700; 
    font-size: 20px;
}
    

#piotnetforms .p70955259 .piotnetforms-calculated-fields-form {
    color: #dc2827;
}

#piotnetforms .p70955259 .piotnetforms-calculated-fields-form {
    font-size: 26px;
}

#piotnetforms .p70955259 .piotnetforms-calculated-fields-form {
    font-weight: 700
}

#piotnetforms .p70955259.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p70955259.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p70955259.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p70955259 .piotnetforms-field-group > label {
    font-size: 28px
}

#piotnetforms .p70955259 {
    margin: 0px 0px 0px 0px;
}

#piotnetforms .p30920576 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p30920576 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p30920576 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p30920576 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p30920576 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p30920576 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p30920576.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p30920576.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p30920576.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p30920576 {
    margin: 16px 0px 0px 0px;
}

#piotnetforms .p30920576 {
    width: 50%;
}

#piotnetforms [data-piotnet-editor-widgets-item-id="p30920576"] {
    width: 50%;
}

@media (max-width: 767px) {
    #piotnetforms .p30920576 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #piotnetforms [data-piotnet-editor-widgets-item-id="p30920576"] {
        width: 100%;
    }
}

#piotnetforms .p83049410 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p83049410 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p83049410 [data-piotnetforms-spiner] button {
    width: 32px;
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] button {
        width: 32px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] button {
        width: 32px;
    }
}

#piotnetforms .p83049410 [data-piotnetforms-spiner] button {
    height: 32px;
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] button {
        height: 32px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] button {
        height: 32px;
    }
}

#piotnetforms .p83049410 [data-piotnetforms-spiner] .nice-number input {
    width: 20px!important;
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] .nice-number input {
        width: 20px!important;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410 [data-piotnetforms-spiner] .nice-number input {
        width: 20px!important;
    }
}

#piotnetforms .p83049410.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p83049410.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p83049410.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p36035690 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p36035690 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p36035690 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p36035690 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p36035690 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p36035690 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p36035690.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p36035690.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p36035690.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p41215079 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p41215079 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p41215079 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p41215079 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p41215079 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p41215079 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p41215079.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 24px;
}

@media (max-width: 1025px) {
    #piotnetforms .p41215079.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p41215079.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 24px;
    }
}

#piotnetforms .p88778248 .piotnetforms-label-inline {
    width: 10%;
}

#piotnetforms .p88778248 .piotnetforms-field-inline {
    width: calc(100% - 10%)
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .piotnetforms-label-inline {
        width: 10%;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .piotnetforms-field-inline {
        width: calc(100% - 10%)
    }
}

#piotnetforms .p88778248 .pf-f-o-i {
    position: relative
}

#piotnetforms .p88778248 .pf-f-o-i {
    top: auto
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        top: auto
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        top: auto
    }
}

#piotnetforms .p88778248 .pf-f-o-i {
    right: auto
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        right: auto
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        right: auto
    }
}

#piotnetforms .p88778248 .pf-f-o-i {
    bottom: auto
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        bottom: auto
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        bottom: auto
    }
}

#piotnetforms .p88778248 .pf-f-o-i {
    left: auto
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        left: auto
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248 .pf-f-o-i {
        left: auto
    }
}

#piotnetforms .p88778248 .piotnetforms-field-subgroup label {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-field-subgroup input:checked ~ label {
    color: rgba(255, 255, 255, 1);
}

#piotnetforms .p88778248 .piotnetforms-field-subgroup input:checked ~ label {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-field-subgroup input:checked ~ label {
    background-color: #0ea2a9;
}

#piotnetforms .p88778248.piotnetforms-label-animation.piotnetforms-label-animated label {
    top: 0px;
}

@media (max-width: 1025px) {
    #piotnetforms .p88778248.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 0px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p88778248.piotnetforms-label-animation.piotnetforms-label-animated label {
        top: 0px;
    }
}

#piotnetforms .p88778248 .piotnetforms-field-group > label {
    font-family: inherit
}

#piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group > label {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-upload-field-modern-text {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-upload-field-modern-text:hover {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field .piotnetforms-field-textual, #piotnetforms .p88778248 .piotnetforms-field-subgroup label, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-select-wrapper select::placeholder, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-dropdown .selectize-dropdown-content, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input input::placeholder, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input input, #piotnetforms .p88778248 .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input .item {
    font-family: inherit
}

#piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field .piotnetforms-field-textual, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-subgroup label, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-select-wrapper select::placeholder, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-dropdown .selectize-dropdown-content, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input input::placeholder, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input input, #piotnetforms .p88778248.piotnetforms-field-focus .piotnetforms-field-group .piotnetforms-field .selectize-control .selectize-input .item {
    font-family: inherit
}

#piotnetforms .p88778248 .piotnetforms-field-description {
    font-family: inherit
}

#piotnetforms .p70699331 {
    font-family: inherit
}

#piotnetforms .p70699331 {
    margin: 36px 0px 0px 0px;
}

#piotnetforms .p96850159 {
    font-family: inherit
}

#piotnetforms .p96850159 {
    text-align: center
}

#piotnetforms .p25970030>.piotnet-section__container {
    max-width: 1140px;
}

@media (max-width: 1025px) {
    #piotnetforms .p25970030>.piotnet-section__container {
        max-width: 1140px;
    }
}

@media (max-width: 767px) {
    #piotnetforms .p25970030>.piotnet-section__container {
        max-width: 1140px;
    }
}

#piotnetforms .p25970030 {
    font-family: inherit
}

#piotnetforms .p25970030 {
    padding: 16px 16px 16px 16px;
}
